{% extends "base.html" %}
{% load static %}
{% block title %}Customers list{% endblock %}
{% block content %}
<h1>OOWLISH CHALLENGUE</h1>
<h3>Customers List</h3>
<div class="table-responsive-sm">
  <table id="customersTable" class="table table-striped table-bordered table-sm w-auto text-center" cellspacing="0">
     <thead class="d-none">
        <tr>
           <th class="th-sm">Details</th>
           <th class="th-sm">ID</th>
           <th class="th-sm">First Name</th>
           <th class="th-sm">Last Name</th>
           <th class="th-sm">Email</th>
           <th class="th-sm">Gender</th>
           <th class="th-sm">Company</th>
           <th class="th-sm">City</th>
           <th class="th-sm">Title</th>
           <th class="th-sm">Latitude</th>
           <th class="th-sm">Longitude</th>
        </tr>
     </thead>
     <tbody>
       <tr id="spinner">
         <td><img src="{% static 'img/734.gif' %}" alt="spinner" style="margin: 20% auto;"></td>
       </tr>
     </tbody>
  </table>
</div>
{% endblock %}
{% block extra_scripts %}
  <script>
    var api_url = '{{ api_url }}';
    var google_api = '{{ google_api }}';
  </script>
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
